extends layout

block content
  .container.pt-4
    .container.text-sm-center
      a(href='/')
        img.image-fluid.mb-4(src='img/ysh_logo.png', alt='Yardsale Hound Logo')
    form(action='/login', method='POST')
      .form-group.w-50.mx-auto
        label.sr-only(for='email') Email address
        input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group.w-50.mx-auto
        label.sr-only(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='Password')
        small#noAccount.form-text.text-muted
          | Don't have account?
          a(href='register')  Register
      .w-50.mx-auto
        button.btn.bg-green.btn-lg.text-white(type='submit') Login
        br
        br
        br
        br
